<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="elmahr" type="ElmahR.Core.Config.SectionHandler, ElmahR.Core" />
  </configSections>
  <appSettings>
    <!--
    The following settings are required in the context
    of Razor websites, you could remove them if this is
    not the case. It is also possible that this could 
    appear more than once, Nuget does not support official
    config file transforms therefore updating existing
    keys is not possible; if this is the case you should
    clean them up yourself.
    -->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="webpages:Enabled" value="true" />
  </appSettings>

  <system.web>

    <httpRuntime targetFramework="4.5" />

    <compilation debug="true" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <!--
        The configuration samples are targeting the integrated
        pipeline (system.webServer), but you can easily convert
        them (if you have to...) to use the classic pipeline, 
        moving modules and handlers here, and adapting the syntax 
        accordingly, documentation is easily available on the web.
        -->
    </httpModules>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <add name="PostError" verb="POST" path="PostError.axd" type="ElmahR.Core.PostError, ElmahR.Core" />
      <add name="YSOD" verb="GET,HEAD" path="YellowScreenOfDeath.axd" type="ElmahR.Core.YellowScreenOfDeath, ElmahR.Core" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <add value="elmahr/dashboard.cshtml"/>
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true">
      <!--
        You may want to enable the following declaration in order 
        to have your dashboard collecting errors happening inside 
        the dashboard itself (ELMAH is needed and must be properly 
        configured).
        -->
      <!--<add name="ErrorPost" type="ElmahR.Core.ErrorTrapModule, ElmahR.Core" />-->
    </modules>
  </system.webServer>
  <elmahr>
    <!--
    This section lists a sample application entry. You will want to list 
    real monitored applications here, and the 'sourceId' attributes should 
    match the corresponding 'sourceId' attributes from the source apps:
    -->
    <application name="Sample application" sourceId="SomeCode" infoUrl="http://localhost:12345/elmah.axd" testExceptionUrl="http://localhost:12345/elmah.axd/test" />

    <!--
    The following commented entry would map an application entry to the dashboard itself, 
    in case you want to broadcast errors coming from there. You will need
    to activate the ErrorTrapModule listed elsewhere in this file in the appropriate
    modules sections. If you do want to receive errors from the dashboard simply uncomment
    the following line.
    -->
    <!--<application name="Myself" sourceId="###ElmahR###" boxClass="boxColorElmahR" />-->

    <!--
    Please refer to https://bitbucket.org/wasp/elmahr/wiki/Setup for a complete
    list of the available configuration options
    -->
  </elmahr>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <location path="nancyapi">
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
      </httpHandlers>
    </system.web>

    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
